body {
    font-family:'Roboto', sans-serif;
}

header {
    background: #d6d6d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d6d6d6 0%, #ffffff 89%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d6d6d6 0%,#ffffff 89%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d6d6d6 0%,#ffffff 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 25px 0px 0px 0px;
}

.header-container {
    /*padding:25px 25px 0px 25px;*/
}

nav {
    padding:0px 20px 0px 0px;
}

a:link,
a:visited,
a:hover,
a:active {
    color:#33A2EA;
    text-decoration: none;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a:hover {
    color:#2995db;
}

p {
    color:#4D4D4D;
    line-height:1.4em;
    font-weight:lighter;
}

h1 {
    color:#4D4D4D;
    font-size:2.5em;
    font-weight:lighter;
}

h2.header {
    color:#4D4D4D;
    font-size:1.2em;
    font-weight:lighter;
}

.header-text > h2 {
    margin-bottom:40px;
}

.header-text {
    padding:0px 20px 0px 20px;
}

.header-text p {
    color:#808080;
    font-size:1em;
    line-height:1.4em;
    margin-bottom:20px;
}

.CTA-button:link,
.CTA-button:visited,
.CTA-button:hover,
.CTA-button:active {
    background-color:#33A2EA;
    padding:20px 26px;
    color:white;
    display: inline-block;
    text-transform: uppercase;
    border-radius:2px;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.CTA-button:hover {
    background-color:#2995db;
}

.header-price {
    color:#808080;
    margin-top:20px;
}

.header-image {
    background-image: url(../images/Twitter-boek.png);
    background-repeat:no-repeat;
    height: 400px;
    background-position: center -25px;
    margin: 0px auto;
    background-size: 162%;
}

.aboutUs-text {
    margin:40px 20px 40px 20px;
}

h2 {
    color:#4D4D4D;
    font-size:2.2em;
    font-weight:lighter;    
}

h3 {
    color:#4D4D4D;
    font-size:1.1em;
    font-weight:lighter;  
}

.aboutUs-text > .aboutUs-text-container > h3 {
    margin-bottom:40px;
}

.aboutUs-picture {
    width:100%;
}

.bvItem-title {
    margin:40px 20px 40px 20px;
}

.bvItem-image img {
    width:100%;
}

.bvItem-text {
    padding:16px;
    position:relative;
    line-height:1.3em;
}

.bvItem-title {
    position:relative;
}

.bvItem-text:before {
    width: 0;
    height: 0;
    top:-20px;
    position: absolute;
    content:"";
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent white transparent;
}

.section-social {
    background-color:#F0F0F0;
}

.social-container {
    padding:20px;
}

.social-invitation h2 {
    margin:20px 0px;
}

.social-invitation-image {
    width:100%;
    margin-top:10px;
}

footer {
    font-family:'Open Sans', sans-serif;
}

.footer-partners {
    display:flex;
    margin:20px 0px;
    align-content: center;
}

#uitgeverij {
    background-image:url(../images/partners/uitgeverij.png);
}

#darmkanker {
    background-image:url(../images/partners/darmkanker.png);
}

#thomasmore {
    background-image:url(../images/partners/thomas-more.png);
}

#designosource {
    background-image:url(../images/partners/designosource.svg);
}

.footer-partners a:link,
.footer-partners a:visited,
.footer-partners a:hover,
.footer-partners a:active {
    text-indent:-9999px;
    background-size:contain;
    background-repeat:no-repeat;
    display:block;
    height:70px;
    min-width:50px;
    background-position:center;
}

.footer-text {
    text-align:center;
    margin:10px 0px;
}

.footer-text div {
    line-height:25px;
}

a.footer-madeBy:link,
a.footer-madeBy:visited,
a.footer-madeBy:hover,
a.footer-madeBy:active {
    color:#4D4D4D;
    background-image:url(../images/egg-design.svg);
    background-size:20px 20px;
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:25px;
    line-height:25px;
}

.footer-partners {
    display: flex;
    justify-content: space-between;
    margin:20px 0px;
}

a.button-tweet:link,
a.button-tweet:visited,
a.button-tweet:hover,
a.button-tweet:active
{
    background-color:#33A2EA;
    color:white;
    padding:20px 20px;
    width:100%;
    max-width:520px;
    display:block;
    border-radius:2px;
    box-sizing: border-box;
    margin-bottom:15px;
}

a.button-tweet:hover {
    background-color:#2995db;
}

@media (min-width:560px)
{
    .header-image {
    background-image: url(../images/Twitter-boek.png);
    /* width: 50%; */
    height: 400px;
    background-position: center -25px;
    margin: 0px auto;
    background-size: 130%;
}
}

@media (min-width:767px) {
    nav {
        display:flex;
        justify-content: flex-end;
        margin:0px 0px 30px 0px;
    }
    
    nav > ul {
        display:flex;
    }
    
    nav > ul > li > a:link,
    nav > ul > li > a:visited,
    nav > ul > li > a:hover,
    nav > ul > li > a:active {
        color:#4D4D4D;
        font-size:.9em;
        font-weight:bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        -moz-transition: none .4s ease;
        -webkit-transition: none .4s ease;
        -o-transition: none .4s ease;
        transition: none .4s ease;
    }
    
    nav > ul > li > a:hover {
        color:#292929;
        border-bottom:2px solid #292929;
    }
    
    nav > ul > li:first-child {
        margin-right:50px;
    }
    
    .header-text-container {
        display:flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    
    .header-image {
        background-image: url(../images/Twitter-boek.png);
        width: 100%;
        height: 400px;
        background-position: center -50px;
        background-size: 175%;
    }
    
    .footer-text {
        display:flex;
        justify-content: space-between;
    }
    
    .bvItem-title {
        width:50%;
        margin:0px;
        padding:0px 0px 0px 0px !important;
        background-color:#F0F0F0;
    }
    
    .bvItem-title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .bvItem {
        max-width:25%;
        order:3;
    }
    
    #item1 {
        order:1;
    }
    
    #item2 {
        order:1;
    }
    
    .bvItem-text {
        /*-webkit-box-shadow: inset -3px 0px 8px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: inset -3px 0px 8px 0px rgba(0,0,0,0.5);
        box-shadow: inset -3px 0px 8px 0px rgba(0,0,0,0.5);*/
    }
    
    .bvItem-title {
        margin:0px;
        padding:40px 20px 40px 20px;
        box-sizing: border-box;
        order:2;
    }
    
    .section-bv {
        display:flex;
        flex-wrap:wrap;
        flex-grow: 1;
    }
    
    .social-container {
        display:flex;
    }
    
    .social-container > div {
        width:45%;
    }
    
    .social-container > div:first-child {
        width:55%;
        margin-right:30px;
    }
    
    .social-invitation h2 {
        margin:0px 0px 20px 0px;
    }
}

@media (min-width:848px) {
    .section-aboutUs {
        display:flex;
    }
    
    .aboutUs-text-container {
        width:94%;
    }
    
    .aboutUs-text {
        width:50%;
    }
    
    .aboutUs-picture {
        width:50%;
        height:50%;
    }
}

@media (min-width:1000px) {
    .footer-container {
        max-width:1000px;
        margin:0px auto;
    }
    
    .social-container {
        max-width:1000px;
        margin:0px auto;
    }
}

@media (min-width:1010px) {
    .header-image {
        background-image: url(../images/Twitter-boek.png);
        width: 100%;
        height: 400px;
        background-position: center -50px;
        background-size: 200%;
    }
}

@media (min-width: 1200px) {
.header-image {
    background-image: url(../images/Twitter-boek.png);
    width: 100%;
    height: 400px;
    background-position: center -80px;
    background-size: 185%;
}
}
/* 320 - 767 - 960 - Container 1200 */